.std-wrapper {
    .std-wrapper();
}

.std-icon {
    display: block;
    position: relative;
    width: 60px;
    height: 60px;
    border-radius: 100%;
    background: #fff;
    box-shadow: 0 0 10px rgb(0 0 0 / 17%);

    &::before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-position: center center;
    }

    &.std-icon-up {
        &::before {
            background-image: url('/icons/arrow.svg');
            background-size: 13px 32px;
        }
    }

    &.std-icon-internet {
        &::before {
            background-image: url('/icons/internet.svg');
            background-size: 36px 36px;
        }
    }
}

.std-title-wi {
    display: flex;
    align-items: center;

    > span {
        flex-shrink: 0;
    }

    > div {
        padding: 0 0 0 20px;
        font-size: 32px;
        font-weight: bold;
    }

    .width-size-sm({
        > div {
            font-size:22px;
            padding:0 0 0 10px;
        }
    });
}
