.std-wrapper(@top-pad:0, @bot-pad: 0) {
    margin: 0 auto;
    padding: @top-pad @std-x-padding @bot-pad @std-x-padding;
    max-width: (@max-width + @std-x-padding-double);

    .width-size-sm({
        padding:@top-pad @std-x-padding-sm @bot-pad @std-x-padding-sm;
        max-width: (@max-width + @std-x-padding-sm-double);
    });
}
