@import 'app/styles/include';

#main_slider {
    margin-top: 50px;
}

.mainSlidersWrapper {
    border-radius: 25px;
    box-shadow: 0 0 10px rgb(0 0 0 / 17%);
}

.mainSliderItem {
    background-size: 1120px 316px;
    background-position: center center;
    background-repeat: no-repeat;
    display: flex;
}

.mainSliderSizeFull {
    .mainSliderItem {
        align-items: center;
    }

    #main_slider_item_1 {
        background-image: url('/slides/1.png');

        > div {
            padding: 0 0 0 75px;
            color: #fff;
            font-size: 36px;
            font-weight: 300;
            max-width: 500px;

            span {
                font-weight: bold;
            }
        }
    }

    #main_slider_item_2 {
        background-image: url('/slides/2.png');

        > div {
            padding: 0 0 0 75px;
            font-size: 36px;
            font-weight: 300;
            max-width: 520px;

            span {
                font-weight: bold;
            }
        }
    }

    #main_slider_item_3 {
        background-image: url('/slides/3.png');

        > div {
            padding: 0 0 0 75px;
            color: #fff;
            font-size: 36px;
            font-weight: 300;
            max-width: 530px;

            span {
                font-weight: bold;
            }

            > div {
                margin-top: 30px;
                line-height: 1.2;

                span {
                    font-weight: 300;
                }
            }
        }
    }

    .width-size(1050px, {
        #main_slider_item_1 {
            > div {
                font-size: 3.5vw;
                padding-left: 3%;
                max-width: 50%;
            }
        }

        #main_slider_item_2 {
            > div {
                font-size: 3.5vw;
                padding-left: 3%;
                max-width: 50%;
            }
        }

        #main_slider_item_3 {
            > div {
                font-size: 3.5vw;
                padding-left: 3%;
                max-width: 60%;
            }
        }
    });
}

.mainSliderSizeMobile {
    .mainSliderItem {
        background-size: 100% 100%;
    }

    #main_slider_item_1 {
        background-image: url('/slides/1_mob.png');

        > div {
            padding: 7% 0 0 7%;
            color: #fff;
            font-size: 5vw;
            font-weight: 300;
            max-width: 70%;

            span {
                font-weight: bold;
            }
        }
    }

    #main_slider_item_2 {
        background-image: url('/slides/2_mob.png');

        > div {
            padding: 7% 0 0 7%;
            font-size: 5vw;
            font-weight: 300;
            max-width: 80%;

            span {
                font-weight: bold;
            }
        }
    }

    #main_slider_item_3 {
        background-image: url('/slides/3_mob.png');

        > div {
            padding: 7% 0 0 7%;
            font-size: 5vw;
            color: #fff;
            font-weight: 300;

            span {
                font-weight: bold;
            }

            > div {
                padding-top: 3%;

                > div {
                    margin-top: 7%;
                    line-height: 1.2;
                    max-width: 30%;

                    > span {
                        display: none;
                    }
                }
            }
        }
    }
}
