@import 'app/styles/include';

#main_slider {
    margin-top: 50px;
}

.mainSlidersWrapper {
    border-radius: 25px;
    box-shadow: 0 0 10px rgb(0 0 0 / 17%);
}

.mainSliderItem {
    background-size: 1120px 316px;
    background-position: center center;
    background-repeat: no-repeat;
    display: flex;
}

.mainSliderSizeFull {
    .mainSliderItem {
        align-items: center;
    }

    #main_slider_item_1 {
        background-image: url('/slides/1.png');

        > div {
            padding: 0 0 0 75px;
            color: #fff;
            font-size: 36px;
            font-weight: 300;
            max-width: 500px;

            span {
                font-weight: bold;
            }
        }
    }

    #main_slider_item_2 {
        background-image: url('/slides/2.png');

        > div {
            padding: 0 0 0 75px;
            font-size: 36px;
            font-weight: 300;
            max-width: 520px;

            span {
                font-weight: bold;
            }
        }
    }

    #main_slider_item_3 {
        background-image: url('/slides/3.png');

        > div {
            padding: 0 0 0 75px;
            color: #fff;
            font-size: 36px;
            font-weight: 300;
            max-width: 530px;

            span {
                font-weight: bold;
            }

            > div {
                margin-top: 30px;
                line-height: 1.2;

                span {
                    font-weight: 300;
                }
            }
        }
    }

    .width-size(1050px, {
        #main_slider_item_1 {
            > div {
                font-size: 3.5vw;
                padding-left: 3%;
                max-width: 50%;
            }
        }

        #main_slider_item_2 {
            > div {
                font-size: 3.5vw;
                padding-left: 3%;
                max-width: 50%;
            }
        }

        #main_slider_item_3 {
            > div {
                font-size: 3.5vw;
                padding-left: 3%;
                max-width: 60%;
            }
        }
    });
}

.mainSliderSizeMobile {
    .mainSliderItem {
        background-size: 100% 100%;
    }

    #main_slider_item_1 {
        background-image: url('/slides/1_mob.png');

        > div {
            padding: 7% 0 0 7%;
            color: #fff;
            font-size: 5vw;
            font-weight: 300;
            max-width: 70%;

            span {
                font-weight: bold;
            }
        }
    }

    #main_slider_item_2 {
        background-image: url('/slides/2_mob.png');

        > div {
            padding: 7% 0 0 7%;
            font-size: 5vw;
            font-weight: 300;
            max-width: 80%;

            span {
                font-weight: bold;
            }
        }
    }

    #main_slider_item_3 {
        background-image: url('/slides/3_mob.png');

        > div {
            padding: 7% 0 0 7%;
            font-size: 5vw;
            color: #fff;
            font-weight: 300;

            span {
                font-weight: bold;
            }

            > div {
                padding-top: 3%;

                > div {
                    margin-top: 7%;
                    line-height: 1.2;
                    max-width: 30%;

                    > span {
                        display: none;
                    }
                }
            }
        }
    }
}

#main_block_internet {
    margin-top: 100px;

    .content {
        margin-top: 40px;

        > .desc {
            font-size: 16px;
            line-height: 1.7;
        }

        > .items {
            margin-top: 40px;
            display: flex;
            flex-wrap: wrap;
            row-gap: 40px;
            column-gap: 40px;

            > div {
                flex-shrink: 0;
                overflow: hidden;
                max-width: 400px;
            }
        }
    }

    .width-size-min(1170px, {
        .content {
            > .items {
                > div {
                    flex-basis: calc((100% - 120px) / 4);
                }
            }
        }
    });

    .width-size(1170px, {
        .content {
            > .items {
                > div {
                    flex-basis: calc((100% - 80px) / 3);
                }
            }
        }
    });

    .width-size(1000px, {
        .content {
            > .items {
                > div {
                    flex-basis: calc((100% - 40px) / 2);
                }
            }
        }
    });

    .width-size-sm({
        margin-top:40px;

        .content {
            margin-top:30px;
    
            > .desc {
                font-size:12px;
            }

            > .items {
                justify-content: center;

                > div {
                    flex-basis: 100%;
                }
            }
        }
    });

    &.noFlexGap {
        .content {
            > .items {
                justify-content: space-between;

                > div {
                    margin-top: 40px;
                }
            }
        }

        .width-size-sm({
            .content {
                > .items {
                    justify-content: center;
                }
            }
        });
    }
}

.internetTariffCard {
    background: #fff;
    border-radius: 25px;
    box-shadow: 0 0 15px rgb(0 0 0 / 25%);
    padding: 30px 30px 25px;

    > .title {
        font-weight: 500;
        font-size: 30px;
    }

    > .desc {
        font-size: 14px;
        padding-top: 10px;
    }

    > .speed {
        margin-top: 20px;

        > .t {
            font-size: 14px;
            line-height: 1;
        }

        > .v {
            font-size: 20px;
            font-weight: bold;
        }
    }

    > .price {
        margin-top: 15px;

        > .t {
            font-size: 14px;
            line-height: 1;
        }

        > .v {
            font-size: 20px;
            font-weight: bold;
            color: @color-red;
        }
    }
}
